<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="userDetailsFirstPart">
        <label class="form-fields-label">
            <span class="form-fields-label__field-name">Full name:</span>
            <input type="text" class="form-fields__current-input" th:field="*{fullName}"/>
        </label>

        <label class="form-fields-label">
            <span class="form-fields-label__field-name">Street:</span>
            <input type="text" class="form-fields__current-input" th:field="*{street}"/>
        </label>
    </th:block>
</body>
</html>