<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="authDetails">
        <label class="form-fields-label">
            <span class="form-fields-label__field-name">Username:</span>
            <input type="text" class="form-fields__current-input" />
        </label>

        <label class="form-fields-label">
            <span class="form-fields-label__field-name">Password:</span>
            <input type="password" class="form-fields__current-input" />
        </label>

        <label class="form-fields-label">
            <span class="form-fields-label__field-name">Confirm password:</span>
            <input type="password" class="form-fields__current-input" />
        </label>
    </th:block>
</body>
</html>