<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
  <th:block th:fragment="userDetailsThirdPart">
      <label class="form-fields-label">
        <span class="form-fields-label__field-name">Zip:</span>
        <input type="text" class="form-fields__current-input" />
      </label>

      <label class="form-fields-label">
        <span class="form-fields-label__field-name">Phone number:</span>
        <input type="text" class="form-fields__current-input" />
      </label>
  </th:block>
</body>
</html>