<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <th:block th:fragment="userDetailsSecondPart">
        <label class="form-fields-label">
            <span class="form-fields-label__field-name">City:</span>
            <input type="text" class="form-fields__current-input" />
        </label>

        <label class="form-fields-label">
            <span class="form-fields-label__field-name">State:</span>
            <input type="text" class="form-fields__current-input" />
        </label>
    </th:block>
</body>
</html>