<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <header th:fragment="headerView" th:with="templatePath=${ 'util_templates/link-template' }">
        <ul class="header-list">
            <li class="header-list-item">
                <a
                        class="header-list-item__link"
                        th:replace="~{${ templatePath }::linkTemplate (
                    path = '/',
                    title = 'Main',
                    isCurPlace = ${ pageName == 'main' }
                )}">
                </a>
            </li>
            <li class="header-list-item">
                <a
                        class="header-list-item__link"
                        th:replace="~{${ templatePath }::linkTemplate (
                    path = '/design',
                    title = 'Design',
                    isCurPlace = ${ pageName == 'design' }
                )}">
                </a>
            </li>
        </ul>

        <div class="authorized-user-content" th:if="${ authorizedUser != null }">
            <h3 th:text="${authorizedUser.username}"></h3>
            <form
                    th:action="@{/logout}"
                    method="post"
                    class="user-logout-form"
            >
                <button type="submit">Logout</button>
            </form>
        </div>
    </header>
</body>
</html>